Загружаем данные используя библиотеку sklearn. В модуле datasets есть функция load_iris. Импортируем ее и загружаем данные.

In [3]:
from sklearn.datasets import load_iris
data = load_iris().data

В data должен лежать numpy array, посмотрим его размер. Метод shape возвращает размерность данных. В нашем случае должна быть таблица 150 строк и 4 столбцов. Количество строк идет первым, количество столбцов -- вторым. Сама размерность -- это кортеж (tuple).

In [4]:
print(data.shape)

(150, 4)

Отдельно надо загрузить метки (labels) данных. В нашем случае, метки это просто названия сортов ириса. Т.к. значение каждой метки только одно, то размерность будет 150 строк и один столбец.

In [5]:
labels = load_iris().target
print(labels.shape)

(150,)

Теперь сделаем из двух таблиц одну, т.е. сольем данные и их метку в одну таблицу из пяти столбцов. Для этого будем 
использоваться библиотку numpy, импортируем ее и затем сольем таблицы. Чтобы слить таблицы в одну, необходимо, чтобы они имели одну размерность. В нашем случае, размерность для меток (150,) надо превратить в (150, 1), т.е. задать явно количество стоблцов.

In [7]:
import numpy as np

labels = np.reshape(labels,(150,1))
data = np.concatenate([data,labels],axis=-1)
print(data.shape)

(150, 5)

Надо научиться работать с numpy, для этого с данными реши следующие задачи:
1. Распечатай значения строки номер 77. Подсказка: используй numpy slices (https://docs.scipy.org/doc/numpy-1.13.0/reference/arrays.indexing.html).
2. Распечатай значения столбца с индексом 2. Подсказка: используй numpy slices (https://docs.scipy.org/doc/numpy-1.13.0/reference/arrays.indexing.html).
3. Распечатай значения стоблцов с индексами 1,2 и 3 в строках с 22 по 45. Подсказка: используй numpy slices (https://docs.scipy.org/doc/numpy-1.13.0/reference/arrays.indexing.html).
4. Распечатай все строки, в которых значение sepal-width поля (индекс 1, индексирование начинается с нуля, как в списках python) больше, чем 4. Подсказка: для получения индексов строк используем np.where (https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.where.html).
5. Перемножь все значение строк с 12 по 17 на 42.
6. Возведи в квадрат все значения строк 23, 55, 68 и 112. Подсказка: используй функции np.isin и np.square.
7. Подсчитай скалярное произведение строк 67 и 143. Подскзака: используй np.dot.

Все задания необходимо выполнить в этом ноутбуке ниже, нельзя исопльзовать питоновские циклы, задачи реализуются одним или двумя вызовами функций библиотеки numpy.

Далее учимся работать с pandas. Это более расширенная версия numpy. Можно задавать имена столбцов и строк и использовать расширеннные функции для манипуляции данными.

In [17]:
import pandas as pd

names = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'species']
dataset = pd.DataFrame(data,columns=names)
dataset.head(5)

   sepal-length  sepal-width  petal-length  petal-width  species
0           5.1          3.5           1.4          0.2      0.0
1           4.9          3.0           1.4          0.2      0.0
2           4.7          3.2           1.3          0.2      0.0
3           4.6          3.1           1.5          0.2      0.0
4           5.0          3.6           1.4          0.2      0.0

Основная структура библиотеки pandas это DataFrame. Фрейм содержит данные как numpy array и имена столюцов и строк, если таковые заданы. Выше мы задали имена столбцов в python списке и передали их в конструктор фрейма: columns=names. Метод head используется для печати первых N строк, вместе с именами столбцов. Получает в качестве параметра количество строк для печати, значение по умолчанию -- 10.

Для получения доступа к столбцам по символьным индексам используем метод loc (используется по умолчанию), для доступа по числовым индексам -- метод iloc.

In [28]:
print(dataset.loc[1:4, 'petal-length'])

1    1.4
2    1.3
3    1.5
4    1.4
Name: petal-length, dtype: float64

In [27]:
print(dataset.iloc[1:4, 2])

1    1.4
2    1.3
3    1.5
Name: petal-length, dtype: float64

Задача, проделать все, чтобы было сделано с numpy данными, используя в качестве индексов столбцов симольные имена.